.profileContent{
    display: flex;
    justify-content: flex-start;
}
.leftSide img  {
    max-width: 200px;
    margin-right: 100px;
}
.description{
    max-width: 300px;
    width: 100%;
}
.description>*{
    display: flex;
    justify-content: space-between;
}
.ItemsInWork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    img{
        max-width: 50px;
        margin-right: 30px;
    }
}
.itemInWork{
    margin-bottom: 10px;
    border-bottom: 1px solid #666;
}